<form action="/contact" method="post">
<input type="hidden" name="repid" value={{bioguide_id}}>
Subject: <input type="text" name="subject"><br>
Topic: <br>
Message: <textarea name="message" rows="5" cols="30"> </textarea>
<input type="submit" name="submit">
</form>