<div class="container" id="sent-confirm">
<img id="big_logo" src="/imgs/logo.png">
<h2>Email successfully sent to {{oc_email}}!</h2><br>
<p>
	Thank you for taking the time to ensure your politicians truly represent you.<br/>
	With more citizens keeping in touch with those who represent them, our political system will be more in tune with the public's interests.</br>
	Spread the word about represent.us to help make this dream a reality!
</p>
<br/>
<button onclick="location.href='/'" type="button" id="return_home_button" class="btn btn-danger">Return to Homepage</button>
</div>