<div id="main_logo_div">
	<img id="big_logo" src="whatever_file_path">
	<h3>hi! we're here to help you.</h3>
	<form name="zipcode_form" id="zip_form" method="post" action="/search" onsubmit="return validateForm()">
		<div class="input-group">
			<input class="form-control" placeholder="Enter ZIP Code (e.g. 20740)" type="text" name="zip" >
			<span class="input-group-btn">
				<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</span>
		</div>
	</form>
</div>
<div id="blurb_container">
	<div class="blurb">
		<h2 class="blurb_title">Who?</h2>
		<p>
			We are represent.us! We believe in the power of political efficacy - the idea that citizens possess great power
			in shaping their government by being active in the political process. By keeping tabs on how their legislators vote
			and letting their representives know their views, citizens can dramatically impact the state of the country they live in.
		</p>
	</div>
	<div class="blurb">
		<h2 class="blurb_title">Why?</h2>
		<p>
			Currently, we feel that American citizens don't have easy access to the people who represent them in government. We made
			represent.us to forge a direct communication channel from representee to representative; from citizen to senator. Contacting
			a legislative official has never been easier, and we hope this tool will allow for more communication between elected
			officials and their constituents.
		</p>
	</div>
	<div class="blurb">
		<h2 class="blurb_title">How?</h2>
		<p>
			By integrating publicly available APIs from Sunlight and Govtrack with Node.js functionality, we have created a simple tool
			that makes communicating with elected officials easier than ever before. Additionally, we present constituents with information
			about their representatives to help them make informed decisions in upcoming elections, as well as provide feedback regarding
			recent congressional votes. 
		</p>
	</div>
</div>
