
#navbar{
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

#main_logo_div{
  width: 50%;
  margin: 0 auto;
  text-align:center;
  margin-top: 15vh;
}

.blurb {
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 10px 30px 40px;
	padding: 5px;
	border-radius: 7px;
	display: inline-block;
	width: 33%;
	margin: 5px auto;
	padding: 5px 20px 0 20px;
	vertical-align:top;
	text-align: justify;
}

.blurb_title{
	width: 33%;
	margin: 0 auto;
	padding: 0 20px 5px 20px;
}

#blurb_container{
    position: fixed; 
	display: flex;
    bottom:0%;
    width:100%;
	margin-bottom: 5px;
}

html{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6a9add+0,b4d0f7+100 */
height: auto;
min-height:100%;
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}

#body_container{
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}

/*#body_container{
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}*/

@media (max-width: 500px) {
	.blurb {
		display: inline-block;
		width: 33%;
		margin: 5px auto;
		vertical-align:top;
	}

	.blurb_title{
		width: 33%;
		margin: 0 auto;
	}
	
}

.nav li{
	display: inline;
	margin-right: 10px;
}

.representative_div{
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 10px 30px 40px;
	padding: 5px;
	border-radius: 7px;
	//border-color: white;
	//border-style: solid;
	overflow: auto;
}

.representative_div a{
	color: #e0e0e0;
	text-decoration:underline;
}

.representative_div a:hover{
	color: #c0c0c0;
	text-decoration:underline;
}

.rep_img_div{
	float:left;
}

.rep_img{
	display: block;
	border-radius: 7px;
}

.bio_div{
	margin-left: 210px;
}

#big_logo{
    height: 100px;
}
