
#navbar{
    background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 40px 10px 40px;
	padding: 5px;
	border-radius: 7px;
}

#navbar img{
	height: 30px;
	float:left;
	margin-right:5px;
}

#main_logo_div{
  width: 50%;
  margin: 0 auto;
  text-align:center;
  margin-top: 10vh;
}

.container #navbar{
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 15px 10px 15px;
	padding: 5px;
	border-radius: 7px;
}

.blurb {
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 10px 30px 40px;
	padding: 5px;
	border-radius: 7px;
	display: inline-block;
	width: 30%;
	margin: 5px auto;
	padding: 5px 20px 0 20px;
	vertical-align:top;
	text-align: justify;
}

.blurb_title{
	width: 30%;
	margin: 0 auto;
	padding: 0 20px 5px 20px;
}

#blurb_container{
    position: fixed; 
	display: flex;
    bottom:0%;
    width:100%;
	margin-bottom: 80px;
}

html{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6a9add+0,b4d0f7+100 */
height: auto;
min-height:100%;
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}

#body_container{
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}

/*#body_container{
color:#f0f0f0;
background: #6a9add; 
background: -moz-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: -webkit-linear-gradient(-45deg, #4a4abd 0%, #94b0d7 100%); 
background: linear-gradient(135deg, #4a4abd 0%, #94b0d7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9add', endColorstr='#b4d0f7',GradientType=1 ); 
background-attachment:fixed;
}*/

@media (max-width: 500px) {
	.blurb {
		display: inline-block;
		width: 33%;
		margin: 5px auto;
		vertical-align:top;
	}

	.blurb_title{
		width: 33%;
		margin: 0 auto;
	}
	
}

.nav li{
	display: inline;
	margin-right: 10px;
}

.representative_div{
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 40px 30px 40px;
	padding: 5px;
	border-radius: 7px;
	//border-color: white;
	//border-style: solid;
	overflow: auto;
}

.person_more_container{
	background-color:rgba(0, 0, 0, 0.25);
	margin: 10px 10px 30px 15px;
	padding: 5px;
	border-radius: 7px;
}

.person_more_container h2{
	padding-left:20px;
}

.representative_div a{
	color: #e0e0e0;
	text-decoration:underline;
}

.representative_div a:hover{
	color: #c0c0c0;
	text-decoration:underline;
}

.rep_img_div{
	float:left;
}

.rep_img{
	display: block;
	border-radius: 7px;
}

.bio_div{
	margin-left: 210px;
}

#copyright{
	text-align:center;
	margin:5px;
	color:#e0e0e0;
	margin-top:124px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  text-align: center;
}

#big_logo{
    height: 100px;
}

#zip_form{
	margin-top: 3vh;
}

#person_info_div{
	margin: 10px 10px 30px 10px;
	padding: 5px;
	border-radius: 7px;
	//border-color: white;
	//border-style: solid;
	overflow: auto;
}

#contact_form input{
	color:black;
}

#contact-submit{
	width:100%;
}

#sent-confirm{
	margin-top:20vh;
	text-align:center
}

#return_home_button{
	width:50%;
}